apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wordpress
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      containers:
      - name: wordpress
        image: wordpress:latest
        env:
        - name: WORDPRESS_DB_HOST
          value: mysql-clusterip:3306
        - name: WORDPRESS_DB_USER
          value: examen 
        - name: WORDPRESS_DB_PASSWORD
          value: examen1234
        - name: WORDPRESS_DB_NAME
          value: examen-db
        ports:
        - containerPort: 80
